.section-4{
    text-align: center;
    margin-top: 100px;
}
.section-4 h3{
    color: #4FD675;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.section-4 h2{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #333333;
}
.recipeby-display{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.recipeby{
    overflow: hidden;
}
.recipeby img{
    width: 270px;
    transition: .5s;
}
.recipeby img:hover{
    transform: scale(1.1);
}
.recipeby h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 27px;
    color: #333333;
    width: 270px;
    line-height: 38px;
    padding-top: 15px;
}
.recipeby h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #808080d3;
}
.recipeby span{
    color: #4FD675;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

@media (max-width:991px){

    .section-4{
        margin-top: 50px;
    }
    .section-4 h3{
        font-size: 17px;
    }
    .section-4 h2{
        font-size: 30px;
    }
    .recipeby-display{
        display: inherit;
        text-align: center;
    }
    .recipeby img{
        width: 50%;
    }
    .recipeby h2{
        width: 100%;
        font-size: 22px;
    }
    .recipeby h4{
        font-size: 15px;
    }

}