.section-6{
    text-align: center;
    margin-top: 100px;
}
.section-6 h3{
    color: #4FD675;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.section-6 h2{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #333333;
}   

@media (max-width:991px){

    .section-6{
        padding-top: 30px;
        margin-top: 0;
    }
    .section-6 h3{
        font-size: 17px;
        padding-top: 20px;
    }
    .section-6 h2{
        font-size: 25px;
    }



}